* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    font-size: clamp(16px, 23px, 19px);
    color: #DEDEDE;
}

/*splash screen*/
.intro {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #DEDEDE;
    transition: 1s;
}

.intro-header {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #121212;
}

.intro-header-inner {
    position: relative;
    display: inline-block;
    bottom: 0px;
    font-size: 100px;
    opacity: 0;
    color: #121212;
}

.intro-header-inner.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.intro-header-inner.fade {
    bottom: 0; 
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Navbar styles */
.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: transparent;
}

.about-btn a, .contact-btn a, .project-btn a, .home-topleft-btn a {
    display: flex;
    color: #DEDEDE;
    margin-right: 50px; 
    margin-left: auto;
    position: relative;
    padding: 14px 10px;
    text-decoration: none;
}

/* dot hover animation */
.about-btn a, .contact-btn a, .project-btn a {
    position: relative;
}

.about-btn a::after, .contact-btn a::after, .project-btn a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 8px;
    height: 8px;
    background: #DEDEDE;
    border-radius: 50%;
    transform: translateX(-50%) scale(0.1);
    opacity: 0;
    transition: opacity 0.35s ease, transform 0.35s ease;
}

.about-btn a:hover::after, .contact-btn a:hover::after, .project-btn a:hover::after {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

/* Moves items to the right */
ul.links {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

/* Home button stays on the left */
.home-topleft-btn {
    margin-right: auto; 
    margin-left: 50px;
}

/* ABOUT SECTION */

.about-section {
    width: 100%;
    min-height: 250vh;
    background-image: url("assets/homeBG.png");
    background-size: cover;
    background-position: center;
}

.about-container {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 120px;
}

.about-container::after {
    content: "";
    display: block;
    clear: both;
}

.about-image {
    float: left;
    width: 40%;
    padding: 100px;
}

.about-image img {
    width: 100%;
    height: auto;
    padding-left: 55px;
}

.about-content-section {
    float: right;
    width: 60%;
    padding: 100px;
}

.about-title {
    padding-top: auto;
    padding-bottom: 50px;
}

.about-content-section .about-title .about-title-inner {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 600;
}
    
.content p {
    text-align: justify;
    letter-spacing: 8%;
    line-height: 35px;
    padding-right: 80px;
}


/* education section */
.about-education-image {
    float: right;
    width: 40%;
    padding: 100px;
}

.about-education-image img {
    width: 100%;
    height: auto;
    padding-right: 55px;
}

.about-education-content-section {
    float: left;
    width: 60%;
    padding: 100px;
}

.about-education-content-section .about-title .about-title-inner {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 600;
}

.about-education-content-section {
    padding-left: 150px;
    padding-right: 55px;
}

.education-section {
    text-align: justify;
    letter-spacing: 8%;
    line-height: 35px;
}

.grade{
    font-size: 28px;
    font-weight: 600;
}

.name {
    font-size: 16px;
    font-weight: 600;
}

.year {
    font-weight: 200;
}

/* offerings */
.about-row { 
    margin-bottom: 2em; 
} 

.about-row-inner { 
    width: 30%;
    padding-left: 130px;
    position: relative;
    display: inline-block;
    font-weight: 600;
} 

.about-row h5 {
    font-weight: 600;
    margin-bottom: 2em; 
}

.stripe { 
    margin-bottom: 2em; 
    border-bottom: 2px solid white; 
}

.about-row h4 {
    font-weight: 600;
    margin-bottom: 2em; 
}

/* FOOTER */
.custom-footer {
    margin-top: auto;
    width: 100%;
    height: 175px;
    padding: 50px;
    background: #DEDEDE;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Left side  */
.footer-contact {
    display: flex;
    align-items: flex-end;
}

.contact-content {
    display: flex;
    align-items: center;
    gap: 30px; 
}

.work-together {
    color: #121212;
    font-size: 24px;
    font-weight: 200;
    margin: 0;
    white-space: nowrap; 
}

.contact-footer-btn {
    display: inline-block;
    padding: 12px 30px;
    background: #121212;
    color: #DEDEDE;
    border: 2px solid #121212;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.contact-footer-btn:hover {
    background: transparent;
    color: #121212;
}

/* Right side */
.socials-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.socials-label {
    color: #121212;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
}

.socials {
    display: flex;
    gap: 40px;
}

.socials a {
    pointer-events: auto;
    position: relative;
    z-index: 5;
}

.social-icon img {
    width: 40px;
    height: 40px;
    transition: 0.3s ease;
    filter: brightness(0); 
}

.social-icon img:hover {
    transform: scale(1.1);
}
