* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    line-height: 1.6;
    font-weight: 450;
    font-style: normal;
    font-size: clamp(16px, 23px, 19px);
}

h1, h2, h3, h4, h5, h6, p, a, li, ul, span {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 450;
    letter-spacing: normal;
}

/* Navbar styles */
.navbar {
    position: relative;
    top: 30px;
    left: 0px;
    width: 100%;
    z-index: 5;
    transform: translate(0px, 0px) rotate(0.001deg);
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

/* Moves items to the right */
.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

/* Home button stays on the left */
.home-topleft-btn {
    margin-right: auto; 
    margin-left: 50px;
}

/* Style for About, Contact, and Project buttons */
.about-btn, .contact-btn, .project-btn {
    display: flex;
}

.about-btn a, .contact-btn a, .project-btn a {
    display: flex;
    color: rgb(0, 0, 0);
    margin-right: 50px; 
    margin-left: auto;
    position: relative;
    padding: 14px 10px;
    font-size: 24px;
    text-decoration: none;
}

/* Home button styling */
.home-topleft-btn a {
    display: flex;
    color: rgb(0, 0, 0);
    position: relative;
    padding: 14px 16px;
    font-size: 24px;
    text-decoration: none;
}

.btn-text {
    display: inline-block;
}

.btn-text-inner {
    display: inline-block;
}

.home-section {

    background-color: #191932
}
/* brief description styling*/
.home-briefdescription {
    position: fixed;
    top: 180px;
    left: 190px;
    width: 600px;
    height: 490px;
    padding: 50px;
}

.hello-message {
    font-weight: 700;
    font-size: 82px;
    letter-spacing: 0;
    line-height: normal;
    color: rgb(0, 0, 0);
    margin: 20px auto; 
}

.element-line {
    height: 5px; 
    background-color: #000000; 
    width: 100%; 
    margin: 20px auto; 
    border-radius: 5px; 
}

.briefdescription {
    text-align: justify;
    letter-spacing: 8%;
    line-height: 35px;
    margin: 20px auto; 
}

.box-outline-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 505x;
}

/* for responsive design */
@media (max-width: 768px) {
    .links {
        flex-direction: wrap; 
        justify-content: center; 
    }
    
    .home-topleft-btn {
        margin-right: 0;
        margin-left: 0;
        width: 100%; 
        text-align: center; 
    }
    
    .about-btn, .contact-btn, .project-btn {
        width: 100%; 
        justify-content: center; 
    }
}
